.container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #ff7675;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
