.container {
  padding-top: 8px;
  text-align: center;
  font-family: sans-serif;
}

.title {
  color: #333;
}

.canvas-container {
  width: 300px;
  height: 300px;
  position: relative;
  display: inline-block;
  border: 4px solid #fab1a0;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
}

.canvas-guide-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 180px;
  color: #f1f1f1;
  pointer-events: none;
  z-index: 0;
  user-select: none;
}

.canvas {
  position: relative;
  z-index: 1;
  touch-action: none;
  cursor: crosshair;
}
